.automacao-button {
  display: flex;
  justify-content: space-between; /* Distribui espaço entre texto e ícone */
  align-items: center; /* Centraliza o texto e o ícone verticalmente */
  width: 100%;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  text-align: left;
  cursor: pointer;
  background: #ffffff00; /* Gradiente preto para transparente */
  font-size: 1.2rem;
  border: none;
  transition: background-color 0.2s ease, transform 0.2s ease;
  color: #fff;
  font-family: 'OpenSauceOne', sans-serif;
}

.automacao-button span {
  font-size: 1.2rem; /* Ajusta o tamanho do ícone */
  color: #ffffff; /* Cor do ícone */
}

.automacao-button.active {
  background-color: #0000004f; /* Fundo para botão ativo */
  color: #ffffff; /* Texto branco */
  font-weight: bold; /* Destaca o botão ativo */
}

.automacao-sidebar-header {
  margin-bottom: 1rem;
  text-align: left;
  margin-left: 1rem;
}

.automacao-sidebar-header p {
  font-size: 2.3rem;
  color: #ffffff;
  font-family: 'OpenSauceOne', sans-serif;
}

.gradient-text {
  background: linear-gradient(90deg, #2faef7, #a707f1); /* Degradê de roxo para rosa */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: inherit; /* Mantém o tamanho do texto */
  font-family: inherit; /* Mantém a fonte definida anteriormente */
  font-weight: bold; /* Negrito */
}

.automacao-content {
  opacity: 0;
  transform: translateX(100%); /* Começa fora da tela, à direita */
  transition: transform 0.5s ease, opacity 0.5s ease; /* Animação suave */
  position: relative;
}

.automacao-content.show {
  opacity: 1;
  transform: translateX(0); /* Volta à posição original */
}

.automacao-sidebar {
  margin-left: 1rem;
  width: 23%;
  max-height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  box-sizing: border-box;
}

.subbuttons-container {
  margin-left: 2rem; /* Indentar subbotões */
  display: flex;
  flex-direction: column; /* Empilha os subbotões */
  gap: 0.5rem; /* Espaçamento entre subbotões */
}

.automacao-subbutton {
  position: relative; /* Permite que os ícones sejam posicionados relativos ao botão */
  display: flex;
  align-items: center; /* Garante alinhamento vertical do texto e ícone */
  justify-content: space-between; /* Espaça o texto e ícone corretamente */
  padding: 0.8rem;
  background: #00000000; /* Fundo transparente */
  color: #fff;
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s ease, transform 0.2s ease;
}


.automacao-subbutton.active {
  background-color: #0000004f; /* Fundo para subbotão ativo */
  color: #ffffff; /* Texto branco */
  font-weight: bold; /* Destaca o subbotão ativo */
}

.automacao-subbutton:hover {
  /* background-color: #555b6e; Fundo mais claro ao passar o mouse */
  transform: scale(1.02); /* Pequeno aumento no hover */
}

body {
  margin: 0;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}
