.intro-content {
  height: calc(100vh - 20em); /* 100vh menos margens/paddings gerais */
  overflow-y: auto; /* Ativa rolagem vertical */
  padding: 1rem; /* Espaçamento interno */
  border-radius: 4px; /* Cantos arredondados */
  word-wrap: break-word; /* Quebra de palavras longas */
  line-height: 1.5; /* Espaçamento entre linhas */
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 1.1rem; /* Tamanho padrão */
  margin-bottom: 2rem; /* Espaçamento inferior */
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Centraliza o texto */
  border: 1px solid transparent;
  /* border-image: linear-gradient(to right, transparent 50%, #7b2ff7 90%, #00d4ff); */
  border-image-slice: 1;
}

.intro-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.text-and-image {
  display: flex;
  justify-content: center;
  align-items: top;
  gap: 1rem; /* Espaço entre texto e imagem */
}

.intro-text {
  margin-top:40px;
  flex: 1;
  text-align: justify; /* Justifica o texto */
  font-size: 1.3rem; /* Tamanho maior para destaque */
}

.intro-image {
  max-width: 800px;
  max-height: 500px;
  margin-right: 1.5rem;
  margin-left: 1.5rem;
  height: auto;
  margin-bottom: 2rem;
}

.gradient-text-itro{
  background: linear-gradient(to right, #2ff7ed, #6200ff); /* Gradiente do texto */
  -webkit-background-clip: text; /* Define o fundo do texto */
  -webkit-text-fill-color: transparent; /* Torna o texto transparente para mostrar o gradiente */
  font-weight: bold; /* Negrito */
}

.intro-content strong {
  color: #cdb8ff; /* Destaque para negrito */
}

.intro-text-test {
  font-size: 1.3rem; /* Tamanho maior para destaque */
  color: #fff; /* Cor do cabeçalho */
}

/* Personalização da barra de rolagem */
.intro-content::-webkit-scrollbar {
  width: 10px; /* Largura da barra */
  background-color: #1b2949; /* Cor de fundo da barra */
}

.intro-content::-webkit-scrollbar-thumb {
  background-color: #0e0e0ea1; /* Cor do "thumb" */
  border-radius: 5px; /* Arredonda as bordas */
  border: 2px solid #101c37; /* Borda para criar espaçamento */
}

.intro-content::-webkit-scrollbar-track {
  background-color: #1b2949; /* Fundo do trilho */
  border-radius: 5px; /* Arredonda as bordas do trilho */
}
