.parte2-content {
  max-height: 900px; /* Altura máxima para rolagem */
  overflow-y: auto; /* Ativa rolagem vertical */
  padding: 1rem; /* Espaçamento interno */
  /* background-color: #101c37; Fundo */
  border-radius: 4px; /* Cantos arredondados */
  word-wrap: break-word; /* Quebra de palavras longas */
  line-height: 1.5; /* Espaçamento entre linhas */
  font-family: 'OpenSauceOne', sans-serif;
  font-size: 1rem; /* Tamanho de fonte padrão */
  margin-bottom: 1rem; /* Espaçamento inferior */
  color: #fff;
    /* Gradiente na borda */
    border: 1px solid transparent; /* Define a largura da borda */
    border-image: linear-gradient(to right, transparent 30%, #7b2ff7 90%, #00d4ff);
    border-image-slice: 1; /* Aplica o gradiente em toda a borda */
}
  
  .parte2-content h3 {
    margin-top: 1.5rem; /* Espaçamento maior antes do cabeçalho */
    font-size: 1.3rem; /* Tamanho maior para os títulos */
    color: #ffffff; /* Cor específica para os cabeçalhos */
  }
  
  .parte2-content ul {
    padding-left: 2rem; /* Indentar listas mais profundamente */
    margin-bottom: 1.5rem; /* Espaçamento inferior */
  }
  
  .parte2-content li {
    margin-bottom: 0.5rem; /* Espaçamento menor entre itens */
  }
  
  .parte2-content ol {
    margin-bottom: 2rem; /* Espaçamento inferior maior para listas ordenadas */
  }
  